* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: black;
    color: white;
}

p{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 45px;
}

p{
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ef00c7;
    display: inline-block;
}

p > a{
    text-decoration: none;
    color: #ef00c7;
}

.image-gallery {
    padding: 20px;
    text-align: center;
}

.image-gallery__card {
    padding: 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
}

img {
    width: 20%;
    flex-grow: 1;
    flex-basis: 20%;
}

@media(max-width: 600px){
    img{
        width: 100%;
    }

    .image-gallery__card {
        padding: 20px;
    }
}

@media(min-width: 601px) and (max-width:998px){
    img{
        width: 40%;
    }
}